body {
    font-family: serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121212;
    margin: 80px;
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 850px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    margin-bottom: -5px;
    text-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.message {
    text-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 160px;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    margin: auto;
}

@keyframes digitando {
    from {
        width: 0;
    }
}

@keyframes blink {
    40% {
        border-color: rgba(255, 255, 255, 0.2);
    }
}


section p {
    color: #121212;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

section a{
    text-decoration: none;
    color: #121212;
}

section p:hover {
    background-color: #4d4d4d;
    color: white;
}

footer {
    text-align: center;
    text-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.2);
}